.img {
  width: 100%;
  float: none;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 45%;
    float: left;
    margin: 0 2rem 2rem 0px;
  }
}

.description {
  margin-bottom: 40px;
}

.button {
  border: none;
  border-radius: 8px;
  font-weight: bold;
  background: #999;
  color: #fff;
  padding: 15px 32px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}